include README.md
include LICENSE
include scalene/libscalene.so
include scalene/libscalene.dylib
include scalene/scalene-usage.txt
include scalene/*.py
include test/testme.py
include GNUmakefile
include heaplayers-make.mk
include src/source/libscalene.cpp
include src/include/*.h
include src/include/*.hpp
recursive-include vendor/Heap-Layers *
