[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
numpy = "*"
sys = "*"
atexit = "*"
threading = "*"
signal = "*"
pipfile = "*"
time = "*"

[requires]
python_version = "3.7"
