[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpy = "*"
pyperf = "*"
pytest = "*"
wheel = "*"

[packages]
cloudpickle = "*"
nvidia-ml-py = "*"
rich = "*"
wheel = "*"
