name: smoketests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: # manual execution

jobs:
  smoketests:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15  # on macos-latest, pypy-3.7 it builds numpy and others
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python: [ '3.9', '3.10' ] # temporarily disabling pypy-3.7

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - name: Work around arm64 support on MacOS
      # https://github.com/actions/virtual-environments/issues/2557
      if: matrix.os == 'macos-latest'
      run: sudo rm -Rf /Library/Developer/CommandLineTools/SDKs/*

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Build scalene
      run: pip install -e .

    - name: cpu-only smoke test
      run: python -m scalene --cli --cpu-only test/testme.py

    - name: multiprocessing smoke test
      run: python -m scalene --cli test/multiprocessing_test.py

    - name: profile-interval smoke test
      run: python -m scalene --cli --profile-interval=2 test/testme.py
